{%- block datepicker_widget -%}
    <div class="vue-container">
        <d-datepicker
                name="{{ full_name }}"
                :invalid="{% if valid %} false {% else %} true {% endif %}"
                value="{{ value }}"
                placeholder="{{ attr.placeholder|default('') }}"
        ></d-datepicker>
    </div>
{%- endblock datepicker_widget -%}


{%- block datetimepicker_widget -%}
    <div class="vue-container">
        <d-datepicker
                name="{{ full_name }}"
                :invalid="{% if valid %} false {% else %} true {% endif %}"
                value="{{ value }}"
                time
        ></d-datepicker>
    </div>
{%- endblock datetimepicker_widget -%}


{%- block month_widget -%}
    <div class="vue-container">
        <d-datepicker
                name="{{ full_name }}"
                :invalid="{% if valid %} false {% else %} true {% endif %}"
                value="{{ value }}"
                month-picker
        ></d-datepicker>
    </div>
{%- endblock month_widget -%}

