<div class="vue-container inline-block">
    <d-confirmation-modal
        success-url="{{ href }}"
        confirm-text="{{ modalArguments.acceptText }}"
        reject-text="{{ modalArguments.rejectText }}"
    >
        {% include buttonTemplate with {
            text: buttonText,
            tag: 'button',
            href: null,
            class: 'w-full'
        } %}

        <template v-slot:title>
            {{ modalArguments.title|raw }}
        </template>

        <template v-slot:text>
            {{ modalArguments.text|raw }}
        </template>
    </d-confirmation-modal>
</div>
