<div class="vue-container inline-block">
    <confirmation-modal
            success-url="{{ href }}"
            confirm-text="{{ modalArguments.acceptText }}"
            reject-text="{{ modalArguments.rejectText }}"
    >
        <template v-slot:activator="{ open }">
            {% include buttonTemplate with {
                text: buttonText,
                tag: 'button',
                href: null,
                class: 'w-full',
                attr: {
                    '@click': "open"
                }
            } %}
        </template>

        <template v-slot:title>
            {{ modalArguments.title|raw }}
        </template>

        <template v-slot:text>
            {{ modalArguments.text|raw }}
        </template>
    </confirmation-modal>
</div>
