{# tailwindcss Sliding pagination control implementation #}

{#    <div class="inline-flex items-center gap-x-2"> #}
{#        <div class="max-w-sm space-y-3"> #}
{#            {% set numOptions = [5, 10, 15, 20, 25, 30, 40, 50, 100] %} #}
{#            <select class="py-2 px-3 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"> #}
{#                {% for numOption in numOptions %} #}
{#                    <option #}
{#                            value="{{ numOption }}" #}
{#                            {% if numOption == numItemsPerPage %} #}
{#                                selected #}
{#                            {% endif %} #}
{#                    >{{ numOption }}</option> #}
{#                {% endfor %} #}

{#                {% if numItemsPerPage not in numOptions %} #}
{#                    <option value="{{ numItemsPerPage }}">{{ numItemsPerPage }}</option> #}
{#                {% endif %} #}
{#            </select> #}
{#        </div> #}
{#        <p class="text-sm text-gray-600 dark:text-gray-400"> #}
{#            z {{ totalCount }} #}
{#        </p> #}
{#    </div> #}

<div class="inline-flex items-center gap-x-2">
    <p class="text-sm text-gray-600 dark:text-gray-400">
        {% if numItemsPerPage > totalCount %} {{ totalCount }} {% else %} {{ numItemsPerPage }} {% endif %}
        z {{ totalCount }}
    </p>
</div>

{% if pageCount > 1 %}
    <!-- Pagination -->
    <nav class="flex items-center gap-x-1">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"
               class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
               disabled>
                <svg class="flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6"/>
                </svg>
                <svg class="flex-shrink-0 w-3.5 h-3.5" style="margin-left: -15px" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6"/>
                </svg>
            </a>
        {% endif %}

        {% if previous is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"
               class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
               disabled>
                <svg class="flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m15 18-6-6 6-6"/>
                </svg>
            </a>
        {% endif %}

        <div class="flex items-center gap-x-1">
            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"
                       class="min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-800 hover:bg-gray-100 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
                        {{ page }}
                    </a>
                {% else %}
                    <button type="button"
                            class="min-h-[38px] min-w-[38px] flex justify-center items-center bg-gray-200 text-gray-800 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-300 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-600 dark:text-white dark:focus:bg-gray-500"
                            aria-current="page">
                        {{ page }}
                    </button>
                {% endif %}
            {% endfor %}
        </div>

        {% if next is defined %}
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"
               class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
                <svg class="flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"/>
                </svg>
            </a>
        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"
               class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10">
                <svg class="flex-shrink-0 w-3.5 h-3.5" style="margin-right: -15px" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"/>
                </svg>
                <svg class="flex-shrink-0 w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"/>
                </svg>
            </a>
        {% endif %}
    </nav>
{% endif %}